[submodule "third_party/termbox2"]
	path = third_party/termbox2
	url = https://github.com/termbox/termbox2.git
[submodule "third_party/cjson"]
	path = third_party/cjson
	url = https://github.com/DaveGamble/cJSON.git
[submodule "third_party/greatest"]
	path = third_party/greatest
	url = https://github.com/silentbicycle/greatest.git
